@import '@shared/assets/styles/variables.less';

.main-page {
  min-height: 100vh;
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: @transition;

  &__content {
    margin-left: auto;
    margin-right: auto;
    padding: @spacing-lg;
  }

  &__header {
    display: flex;
    margin-bottom: @spacing-xl;

    &:empty {
      display: none;
    }
  }
}
