@import '@shared/assets/styles/variables.less';

.password-field {
  &__toggle-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: @spacing-sm;
    color: var(--text-secondary);
    transition: @transition-fast;

    &:hover {
      color: var(--text-primary);
    }

    &:active {
      color: var(--accent);
    }
  }

  &__toggle-icon {
    font-size: @font-size-xl;
  }
}
