@import '@shared/assets/styles/variables.less';

.password-modal {
  display: flex;
  flex-direction: column;
  gap: @spacing-md;

  &__actions {
    display: flex;
    gap: @spacing-md;
    margin-top: @spacing-sm;
  }
}
