@import '@shared/assets/styles/variables.less';

.card-form {
  display: flex;
  flex-direction: column;
  gap: @spacing-md;

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: @spacing-md;
  }

  &__actions {
    display: flex;
    gap: @spacing-md;
    margin-top: @spacing-sm;

    .button_danger {
      margin-left: auto;
    }
  }

  @media (max-width: @tablet) {
    &__row {
      grid-template-columns: 1fr;
    }
  }
}
