@import '@shared/assets/styles/variables.less';

.pwa-button {
  padding: @spacing-md;
  border: none;
  border-radius: @border-radius-full;
  font-size: @font-size-lg;
  font-weight: @font-weight-medium;
  cursor: pointer;
  transition: @transition-medium;

  &_primary {
    background: var(--blue-500);
    color: var(--white);

    &:hover {
      background: var(--blue-600);
    }

    &:active {
      background: var(--blue-700);
    }
  }

  &_secondary {
    background: var(--gray-700);
    color: var(--gray-200);

    &:hover {
      background: var(--gray-600);
    }

    &:active {
      background: var(--gray-500);
    }
  }

  &__text {
    @media (max-width: @tablet) {
      display: none;
    }
  }

  &__icon {
    display: none;
    font-size: @font-size-xl;

    @media (max-width: @tablet) {
      display: block;
    }
  }
}
