@import '@shared/assets/styles/variables.less';

.card-list-grid {
  display: grid;
  grid-template-columns: @card-grid-columns;
  gap: @spacing-lg;
  padding-bottom: @spacing-lg;

  @media (max-width: @mobile) {
    gap: @spacing-md;
    padding-bottom: @spacing-md;
  }

  .card-list-empty-state {
    grid-column: 1 / -1;
  }
}
