@import '@shared/assets/styles/variables.less';

.drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-secondary-50);
  border: 0 none;
  border-radius: @border-radius-full;
  cursor: grab;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  touch-action: none;

  &:active {
    cursor: grabbing;
  }

  &_visible {
    pointer-events: auto;
  }

  &__icon {
    width: @size-md;
    height: @size-md;
    color: var(--text-primary);
  }

  @media (max-width: @mobile) {
    width: 2.5rem;
    height: 2.5rem;
    top: @size-sm;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity @duration-medium @easing-ease;
    backdrop-filter: blur(@blur);

    &_visible {
      opacity: 1;
    }

    &__icon {
      width: @size-sm;
      height: @size-sm;
    }
  }
}
