@import '@shared/assets/styles/variables.less';

.card-form {
  display: flex;
  flex-direction: column;
  gap: @spacing-md;
  margin-bottom: -@spacing-lg;

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: @spacing-md;
  }

  &__actions {
    display: flex;
    gap: @spacing-md;
    position: sticky;
    bottom: -@spacing-lg;
    margin: @spacing-sm -@spacing-lg 0;
    padding: @spacing-sm @spacing-lg @spacing-lg;
    background: var(--bg-primary);
    z-index: 1;

    &::before {
      content: '';
      background: linear-gradient(to top, var(--bg-primary), transparent);
      height: @size-md;
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
    }

    .button_danger {
      margin-left: auto;
    }
  }

  @media (max-width: @tablet) {
    &__row {
      grid-template-columns: 1fr;
    }

    &__actions {
      flex-wrap: wrap;
      gap: @spacing-sm;

      & > * {
        flex-grow: 1;
      }
    }
  }
}
