@import '@shared/assets/styles/variables.less';

.copyable-field {
  cursor: pointer;
  position: relative;
  transition: @transition-medium;
  padding-top: @spacing-sm;
  padding-right: @spacing-sm;
  margin-top: -@spacing-sm;
  margin-right: -@spacing-sm;
  overflow: hidden;

  &:hover &__value {
    transform: translateY(-1px);
  }

  &:active &__value {
    transform: translateY(0);
    opacity: @opacity-very-high;
  }

  &__label {
    font-size: @font-size-xs;
    color: var(--white-70);
    margin-bottom: @spacing-xs;

    .bank-card_dark-text & {
      color: var(--black-70);
    }
  }

  &__copy-wrapper {
    position: relative;
  }

  &__value {
    padding: 0.1rem @spacing-sm;
    border-radius: @border-radius-md;
    background-color: var(--white-05);
    position: relative;
    cursor: pointer;
    font-family: @font-family-mono;
    transition: @transition-medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: var(--white-15);
    }

    .bank-card_dark-text & {
      background-color: var(--black-05);

      &:hover {
        background-color: var(--black-10);
      }
    }
  }

  &__indicator {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    color: var(--white);
    width: @size-sm;
    height: @size-sm;

    .bank-card_dark-text & {
      color: var(--black-85);
    }
  }

  &_pan {
    font-size: @font-size-xl;
    font-weight: @font-weight-semibold;
    letter-spacing: 0.125rem;
    text-align: center;
    align-self: flex-start;
  }

  &_pan &__value {
    padding-top: @spacing-xs;
    padding-bottom: @spacing-xs;
  }

  &_name &__value,
  &_expires &__value {
    font-size: @font-size-lg;
    font-weight: @font-weight-medium;
    opacity: @opacity-very-high;
    letter-spacing: 0.03125rem;
    text-transform: uppercase;
  }

  &_expires {
    flex-shrink: 0;
  }

  &_cvv,
  &_pin,
  &_phrase {
    display: flex;
    flex-direction: column;
  }

  &_cvv &__label,
  &_pin &__label,
  &_phrase &__label {
    font-size: @font-size-sm;
    opacity: @opacity-higher;
    margin-bottom: @spacing-xs;
    font-weight: @font-weight-semibold;
  }

  &_cvv &__value,
  &_pin &__value,
  &_phrase &__value {
    font-size: @font-size-lg;
    font-weight: @font-weight-medium;
    opacity: @opacity-very-high;
  }

  &_cvv {
    align-items: flex-end;
  }

  &_phrase {
    align-items: flex-start;
  }

  &_pin {
    align-items: flex-end;
    margin-left: auto;
  }
}
