@import '@shared/assets/styles/variables.less';

.form-field {
  display: flex;
  flex-direction: column;
  gap: @spacing-xs;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: stretch;
    border: 1px solid var(--border-color);
    border-radius: @spacing-sm;
    background: var(--bg-secondary);
    overflow: hidden;
    transition: @transition-fast;

    &:focus-within {
      border-color: var(--accent);
      box-shadow: 0 0 0 0.2rem var(--accent-10);
      z-index: 1;
    }
  }

  &__container {
    position: relative;
    overflow: hidden;
    flex: 1;
  }

  &__input {
    width: 100%;
    padding: 1.25rem @border-radius @spacing-sm;
    border: 0;
    font-size: @font-size-lg;
    background: var(--bg-secondary);
    color: var(--text-primary);
    transition: @transition-fast;
    font-family: @font-family-mono;
    text-overflow: ellipsis;

    &::placeholder {
      opacity: 0;
      transition: @transition-fast;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background: var(--bg-tertiary);
      cursor: not-allowed;
      opacity: @opacity-high;
    }

    &[type='password']::-ms-reveal,
    &[type='password']::-ms-clear {
      display: none;
    }

    &[type='password']::-webkit-contacts-auto-fill-button,
    &[type='password']::-webkit-credentials-auto-fill-button {
      visibility: hidden;
      display: none;
      pointer-events: none;
      height: 0;
      width: 0;
      margin: 0;
    }
  }

  &__input:focus ~ &__label,
  &__input:not(:placeholder-shown) ~ &__label {
    transform: translateY(-0.8rem) scale(0.85);
    color: var(--accent);
  }

  &_has-right-content &__input {
    padding-right: 6rem;
  }

  &__input_textarea {
    resize: none;
    height: 10rem;
    scrollbar-width: thin;
  }

  &__label {
    position: absolute;
    left: calc(@border-radius - @spacing-xs);
    top: 0.875rem;
    font-size: @font-size-base;
    font-weight: @font-weight-medium;
    color: var(--text-secondary);
    pointer-events: none;
    transition: @transition-fast;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% + @spacing-md);
    padding-left: @spacing-xs;
    padding-right: @spacing-xs;
  }

  &_has-value &__label {
    color: var(--accent) !important;
  }

  &_has-error &__wrapper {
    border-color: var(--error);
  }

  &_has-error &__wrapper:focus-within {
    box-shadow: 0 0 0 0.2rem var(--error-10);
  }

  &_has-error &__label {
    color: var(--error) !important;
  }

  &_has-value &__label {
    transform: translateY(-0.8rem) scale(0.85);
  }

  &__right-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: @spacing-sm;
    padding-right: @spacing-sm;
  }

  &__left-content {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
  }
}
