@import '@shared/assets/styles/variables.less';

.card-list-groups {
  display: flex;
  flex-direction: column;
  gap: @spacing-lg;

  &__add-button {
    display: grid;
    grid-template-columns: @card-grid-columns;
    gap: @spacing-lg;
  }
}
