@import '@shared/assets/styles/variables.less';

.fab-button {
  padding: @spacing-md;
  border-radius: 50%;
  border: 0 none transparent;
  display: flex;
  align-items: center;
  background: var(--bg-secondary-80);
  cursor: pointer;
  transition: @transition;
  font-size: @font-size-lg;
  color: var(--text-primary);
  backdrop-filter: blur(4px);

  &:hover {
    background: var(--bg-tertiary);
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    opacity: @opacity-high;
    cursor: not-allowed;
  }

  &_active {
    background: var(--accent);
    color: var(--text-on-accent);

    &:hover {
      background: var(--accent);
    }
  }

  &_disabled {
    pointer-events: none;
  }

  &__icon {
    font-size: @font-size-xl;
  }
}
