@import '@shared/assets/styles/variables.less';

.action-buttons-container {
  position: fixed;
  bottom: @spacing-xl;
  right: @spacing-xl;
  display: flex;
  justify-content: space-evenly;
  gap: @spacing-sm;
  z-index: @z-index-overlay;
  border-radius: @border-radius-lg;
  padding: @spacing-sm;
  background-color: var(--bg-tertiary-80);
  backdrop-filter: blur(@blur);

  @media (max-width: @mobile) {
    position: sticky;
    bottom: @spacing-lg;
    margin-top: @spacing-lg;
    margin-left: -@spacing-sm;
    margin-right: -@spacing-sm;
  }
}
