@import '@shared/assets/styles/variables.less';

.card-type-quick-create {
  display: flex;
  flex-direction: column;
  gap: @spacing-md;

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
